.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 4em;
  width: 100vw;
  background-color: $c-blue;
  z-index: 1000;

  .inner {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: $max-page-width;
    justify-content: space-between;
    padding: 0em 1em;
    height: 4em;
    background-color: $c-blue;

    &.authStyle {
      justify-content: center;
    }
  
    &.normal {
      .title {
        width: 80vw;
        max-width: 80vw;
        cursor: pointer;
      }
    }
  }

  .title {
    color: $c-white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
