.header {
  position: fixed;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 1em;
  height: 4em;
  width: 100vw;
  background-color: $c-blue;
  z-index: 1000;

  &.authStyle {
    justify-content: center;
  }

  &.normal {
    h1 {
      width: 80vw;
      max-width: 80vw;
    }
  }

  h1 {
    color: $c-white;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
