/* FLEX */

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-right {
  justify-content: flex-end;
}

/* PAGE CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 6em;
  width: 100%;
  max-width: $max-page-width;
  background-color: $c-white;
  min-height: calc(100vh - 4em);
  &.center {
    padding-top: 4em;
  }
}

/* MARGIN */

.margin {
  &-bottom {
    margin-bottom: 2em;

    &-small {
      margin-bottom: 1em;
    }
  }
}

/* OTHER */

.row-label {
  width: 200px;
  font-weight: bold;
}

.form {
  width: 100%;
  max-width: 600px;

  .button {
    margin-left: 0.5em;
  }
}

.error {
  &-text {
    color: $c-error;
  }
}

.card {
  cursor: pointer;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 10em;
  &-page {
    padding: 1em;
  }
}

.table {
  &-body {
    .table-row {
      cursor: pointer;
    }
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.filter {
  .field {
    max-width: 200px;
    margin: 0px .5em;
  }
}